#$ vendor/bin/phpstan analyze

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - install.php
    excludePaths:
        analyse:
            - vendor/
    # ignoreErrors:
